.inputContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  position: relative;
}

.input {
  border-style: solid;
  flex: 1;
  margin-right: 8px;
  padding: 4px 16px;
  width: 0;
}

.inputLabel {
  flex: 1;
  font-size: 12px;
}
