.table,
.tableCell {
  border: 1px solid black;
  border-collapse: collapse;
}

.tableCell {
  cursor: pointer;
  padding: 8px;
  text-align: center;
  user-select: none;
  width: 20%;
}

.active {
  filter: invert(1);
}

.disabled {
  pointer-events: none;
}
