.table,
.tableCell {
  border: 1px solid black;
  border-collapse: collapse;
}

.tableCell {
  cursor: pointer;
  padding: 8px;
  text-align: center;
  user-select: none;
  width: 20%;
  word-wrap: break-word;
}

.tableCell,
.cellButton {
  font-size: 1em;
}

.active {
  filter: invert(1);
}

.disabled {
  pointer-events: none;
}

.cellButton {
  background-color: transparent;
  border: 0;
}

@media (max-width: 600px) {
  .tableCell,
  .cellButton {
    font-size: 0.75em;
    word-break: break-all;
  }

  .tableCell {
    padding: 0;
  }
}
