.content {
  display: inline-flex;
  flex-direction: column;
  min-width: 600px;
}

.downArrow {
  border: 20px solid;
  border-color: black transparent transparent transparent;
  height: 0;
  margin: 8px auto -12px;
  width: 0;
}

.downArrow > div:first-of-type {
  width: 40px;
  height: 40px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin: auto;
}
